@import url('https://fonts.googleapis.com/css?family=Raleway:300i,400&subset=latin-ext');


body {
    background: #fff;
}

.brand-img {
    margin-bottom: 4px;
}

.aaaa {
    background-color: rgba(255, 255, 255, 0.548);
}

.active-link {
    color: rgba(0, 0, 0, .9);
}

.card {
    width: 100%;
}

.myChart {
    width: 100%;
}

@media (max-width: 61.9375em) {

    .active-link::before {
        border-left: #0686d4 3px solid;
        content: "";
        padding-right: 20px;
    }

    .nav-seprate {
        border-top: 2px solid rgba(128, 128, 128, 0.2);
        padding-top: 10px;
        margin-top: 15px;
    }
}

.text-muted {
    font-weight: 300;
    font-style: italic;
    font-size: 0.7rem;
}

main {
    margin-top: 30px;
}

.form {
    padding: 20px 40px 10px 40px;
}

.banner {
    width: 100%;
    height: 100%;
    background-position: center center;
    position: absolute;
    margin: 0 auto;
    background-image: url('../landingBackground1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.content-wrapper {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    height: auto;
    padding: 30px;
    border-radius: 3%;
    background: rgba(255, 255, 255, 0.9);
    position: relative;
    top: 10vh;
    border: grey 1px solid;
}

.landingTitle {
    text-align: center;
    margin: 0 auto;
}


.logo {
    width: 100%;
    height: 180px;
    padding-top: 50px;
    margin: 0 auto;
}

.startButton {
    width: 100%;
    max-width: 170px;
    margin: 0 auto;
    padding: 20px 0;
}

.startBtn {
    color: #000;
    text-transform: uppercase;
    border-radius: 0;
    width: 170px;
    padding-left: 40px;
    position: relative;
    transform: translateZ(0px);
    transition: all 0.5s ease 0s;
}

.startBtn:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: 100% 50% 0;
    transition: all 0.5s ease-out 0s;
}

.startBtn:hover:after {
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.startBtn span {
    width: 10px;
    height: 100%;
    line-height: 40px;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s linear 0s;
}

.startBtn span:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background: #fff;
    margin: auto 0;
    position: absolute;
    top: 0;
    right: -6px;
    bottom: 0;
    transform: rotate(45deg);
    transition: all 0.3s linear 0s;
}

.startBtn.btn-sm {
    padding-left: 40px;
}

.startBtn.btn-sm span {
    width: 27px;
    line-height: 27px;
}

.startBtn.btn-sm span:after {
    width: 8px;
    height: 8px;
    right: -5px;
}

.startBtn.btn-xs {
    padding-left: 30px;
}

.startBtnstartBtn-xs span {
    width: 20px;
    line-height: 20px;
}

.startBtn.startBtn-xs span:after {
    width: 7px;
    height: 7px;
    right: -4px;
}

.startBtn.red {
    border: 1px solid #fe6d6d;
    background: #fe6d6d;
}

.startBtn.red:hover,
.startBtn.red span {
    color: #fe6d6d;
}

.startBtn.red:hover span,
.startBtn.red:hover span:after {
    background: #fe6d6d;
}

.startBtn.blue {
    border: 1px solid #3bb4e5;
    background: #3bb4e5;
    text-decoration: none;
    padding-left: 20px;
}

.startBtn.blue:hover,
.startBtn.blue span {
    color: #fff;
    text-decoration: none;
}

.startBtn.blue:hover span,
.startBtn.blue:hover span:after {
    background: #3bb4e5;
}

.startBtn.orange {
    border: 1px solid #ee955b;
    background: #ee955b;
}

.startBtn.orange:hover,
.startBtn.orange span {
    color: #ee955b;
}

.startBtn.orange:hover span,
.startBtn.orange:hover span:after {
    background: #ee955b;
}

.startBtn.green {
    border: 1px solid #79d799;
    background: #79d799;
}

.startBtn.green:hover,
.startBtn.green span {
    color: #79d799;
}

.startBtn.green:hover span,
.startBtn.green:hover span:after {
    background: #79d799;
}

.startBtn:hover span {
    color: #fff;
}


@media only screen and (max-width: 767px) {
    .startBtn {
        margin-bottom: 20px;
    }
}
